
nav {
    height: 25vh;
    background-color: black;
}

main {
    /* height: 75vh; */
    /* background-color: blanchedalmond; */
    background-color: white;
}

#myClock {
    height: 250px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Roboto Mono';
    font-size: 3rem;
}

#btnClock {
    display: block;
}

#btnBreak {
    display: none;
}


#btnShift {
    display: none;

}

/* might not need to use this */
/* #clockClick {
    height: 400px;
    width: 400px;
    background-color: blue;
    border-radius: 500px;
    position: absolute;
    top: 295px;
    left: 790px;
    opacity: 25%;
    } */


#officeBackground {
    background-image: url("../img/StanleysOffice02.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    min-height: 100vh;
    max-width: 2985px;
    min-width: 800px;
    background-position: center;
    background-size: cover;
}

@media only screen and (max-width:925px) {
    #officeBackground {
        background-image: url("../img/StanleysOffice02b.png");
        background-position: center;
        background-size: contain;
    }
}