
nav {
    height: 25vh;
    background-color: black;
}

main {
    height: 75vh;
    background-color: blanchedalmond;
}

#myClock {
    height: 250px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Roboto Mono';
    font-size: 3rem;
}

#btnIn {
    display: initial;
}

#btnOut {
    display: initial;
}

#btnBreakS {
    display: initial;
}

#btnbreakE {
    display: initial;
}